.hide-modal{
	display: none;
}
.show-modal{
	background-color: rgba(0,0,0,.8);
	height: 100vh;
	left: 0;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 999;
}
.modal-wrapper{
	height: 100%;
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}
.modal-box{
	background-color: #fbfbff;
	border-radius: 5px;
	height: auto;
	margin: 0 auto;
	max-height: 80vh;
	max-width: 900px;
    padding: 20px 4%;
    position: relative;
	overflow-y: scroll;
    top: 10vh;
	width: 80vw;
}
.modal-container{
	padding: 20px 10px;
	overflow: hidden;
}
.modal-header h2{
	margin-bottom: 30px;
}
.modal-content{
	line-height: 1.4em;

}
.form-container{

}
#contact-form{
	text-align: center;
}
.form-input{
	display: block;
	font-size: .88em;
	line-height: 2em;
	margin: 20px auto;
	max-width: 500px;
	padding: 10px;
	width:80%;
	border: 1px solid #bbbed2;

}
.alert-info{
	
}
.alert-success{
	
}
.alert-danger{

}