.hide-modal{
	display: none;
}
.show-modal{
	background-color: rgba(0,0,0,.8);
	height: 100vh;
	left: 0;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 999;
}
.modal-wrapper{
	height: 100%;
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}
.modal-box{
	background-color: #fbfbff;
	border-radius: 5px;
	height: auto;
	margin: 0 auto;
	max-height: 70vh;
	max-width: 900px;
    padding: 20px 4% 40px;
    position: relative;
	overflow-y: scroll;
    top: 20vh;
	width: 80vw;
}
.modal-container{
	padding: 20px 10px 40px;
	overflow: hidden;
}
.modal-header{

}
.modal-content{

}
.modal-footer{
	height:40px;
}
.form-container{

}
#contact-form{

}
.form-input{

}
.submit-btn{

}
.alert-info{
	
}
.alert-success{
	
}
.alert-danger{

}