.hide-modal{
	display: none;
}
.show-modal{
	position: fixed;
	height: 100vh;
	width: 100vw;
	z-index: 999;
}

.form-container{

}
#contact-form{

}
.form-input{

}
.submit-btn{

}
.alert-info{
	
}
.alert-success{
	
}
.alert-danger{

}