/* Hind Webkit Font-Face */
@font-face {
    font-family: 'hind-bold';
    src: url('../assets/fonts/hind/hind-bold-webfont.eot');
    src: url('../assets/fonts/hind/hind-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/hind/hind-bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/hind/hind-bold-webfont.woff') format('woff'),
         url('../assets/fonts/hind/hind-bold-webfont.ttf') format('truetype'),
         url('../assets/fonts/hind/hind-bold-webfont.svg#hind-bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
font-face {
    font-family: 'hind-light';
    src: url('../assets/fonts/hind/hind-light-webfont.eot');
    src: url('../assets/fonts/hind/hind-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/hind/hind-light-webfont.woff2') format('woff2'),
         url('../assets/fonts/hind/hind-light-webfont.woff') format('woff'),
         url('../assets/fonts/hind/hind-light-webfont.ttf') format('truetype'),
         url('../assets/fonts/hind/hind-light-webfont.svg#hind-light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'hind-medium';
    src: url('../assets/fonts/hind/hind-medium-webfont.eot');
    src: url('../assets/fonts/hind/hind-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/hind/hind-medium-webfont.woff2') format('woff2'),
         url('../assets/fonts/hind/hind-medium-webfont.woff') format('woff'),
         url('../assets/fonts/hind/hind-medium-webfont.ttf') format('truetype'),
         url('../assets/fonts/hind/hind-medium-webfont.svg#hind-medium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'hind-regular';
    src: url('../assets/fonts/hind/hind-regular-webfont.eot');
    src: url('../assets/fonts/hind/hind-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/hind/hind-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/hind/hind-regular-webfont.woff') format('woff'),
         url('../assets/fonts/hind/hind-regular-webfont.ttf') format('truetype'),
         url('../assets/fonts/hind/hind-regular-webfont.svg#hind-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'hind-semibold';
    src: url('../assets/fonts/hind/hind-semibold-webfont.eot');
    src: url('../assets/fonts/hind/hind-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/hind/hind-semibold-webfont.woff2') format('woff2'),
         url('../assets/fonts/hind/hind-semibold-webfont.woff') format('woff'),
         url('../assets/fonts/hind/hind-semibold-webfont.ttf') format('truetype'),
         url('../assets/fonts/hind/hind-semibold-webfont.svg#hind-semibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Yanone-Kaffeesatz Webkit Font-Face */
@font-face {
    font-family: 'yanone_kaffeesatz-bold';
    src: url('../assets/fonts/yanone-kaffeesatz/yanonekaffeesatz-bold-webfont.eot');
    src: url('../assets/fonts/yanone-kaffeesatz/yanonekaffeesatz-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/yanone-kaffeesatz/yanonekaffeesatz-bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/yanone-kaffeesatz/yanonekaffeesatz-bold-webfont.woff') format('woff'),
         url('../assets/fonts/yanone-kaffeesatz/yanonekaffeesatz-bold-webfont.ttf') format('truetype'),
         url('../assets/fonts/yanone-kaffeesatz/yanonekaffeesatz-bold-webfont.svg#yanone_kaffeesatz-bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'yanone_kaffeesatz-extralight';
    src: url('../assets/fonts/yanone-kaffeesatz/yanonekaffeesatz-extralight-webfont.eot');
    src: url('../assets/fonts/yanone-kaffeesatz/yanonekaffeesatz-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/yanone-kaffeesatz/yanonekaffeesatz-extralight-webfont.woff2') format('woff2'),
         url('../assets/fonts/yanone-kaffeesatz/yanonekaffeesatz-extralight-webfont.woff') format('woff'),
         url('../assets/fonts/yanone-kaffeesatz/yanonekaffeesatz-extralight-webfont.ttf') format('truetype'),
         url('../assets/fonts/yanone-kaffeesatz/yanonekaffeesatz-extralight-webfont.svg#yanone_kaffeesatz-extralight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'yanone_kaffeesatz-light';
    src: url('../assets/fonts/yanone-kaffeesatz/yanonekaffeesatz-light-webfont.eot');
    src: url('../assets/fonts/yanone-kaffeesatz/yanonekaffeesatz-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/yanone-kaffeesatz/yanonekaffeesatz-light-webfont.woff2') format('woff2'),
         url('../assets/fonts/yanone-kaffeesatz/yanonekaffeesatz-light-webfont.woff') format('woff'),
         url('../assets/fonts/yanone-kaffeesatz/yanonekaffeesatz-light-webfont.ttf') format('truetype'),
         url('../assets/fonts/yanone-kaffeesatz/yanonekaffeesatz-light-webfont.svg#yanone_kaffeesatz-light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'yanone_kaffeesatz-regular';
    src: url('../assets/fonts/yanone-kaffeesatz/yanonekaffeesatz-regular-webfont.eot');
    src: url('../assets/fonts/yanone-kaffeesatz/yanonekaffeesatz-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/yanone-kaffeesatz/yanonekaffeesatz-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/yanone-kaffeesatz/yanonekaffeesatz-regular-webfont.woff') format('woff'),
         url('../assets/fonts/yanone-kaffeesatz/yanonekaffeesatz-regular-webfont.ttf') format('truetype'),
         url('../assets/fonts/yanone-kaffeesatz/yanonekaffeesatz-regular-webfont.svg#yanone_kaffeesatz-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
