html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	border: 0;
	color: #1d1d1d;
	font: inherit;
	font-family: 'hind-light', 'Roboto', Arial, sans-serif;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1{
	font-family: 'yanone_kaffeesatz-bold';
	font-size: 10vh;
}
h2{
	font-family: 'yanone_kaffeesatz-regular';
	font-size: 4vh;
}
h3 {
	font-family: 'yanone_kaffeesatz-light';
	font-size: 3.5vh;
}
h4 {
	font-family: 'yanone_kaffeesatz-light';
	font-size: 4.2vh;
}
button:focus{
	outline: 0;
}
#app{
	background-color: #F0F0FF;
	min-height: 100vh
}
.modal-is-open{
	overflow: hidden;
}
.main-container{
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	max-width: 1400px;
	width:100%;
}
.header, .main-actions,
.profile-selection, .footer{
	flex-basis: 100%;
}
.header{
	order: 1;
	width: 100%;
}
.header h1 {
	color: #4b83aa;
	padding: 20px 10px 0;
	position: relative;
	text-align: center;
}
.header h4 {
	padding: 0 10px 30px;
	position: relative;
	text-align: center;
}
.main-actions{
	margin-bottom: 20px;
	order: 2;
}
.profile-selection{
	order: 3;
}
.footer{
	bottom: 5px;
	max-width: 1200px;
	order: 4;
	position: absolute;
	width: 100%;

}
.media-container{
	text-align: center;
}
.media-btn img{
	width: 45px;
	padding: 0 8px;
}
.copy-text{
	color: #4b83aa;
	font-size: .7em;
	padding: 5px 0;
	text-align: center;
}

