html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	border: 0;
	color: #1d1d1d;
	font: inherit;
	font-family: 'hind-light', 'Roboto', Arial, sans-serif;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1{
	font-family: 'yanone_kaffeesatz-bold';
	font-size: calc(7.5vmax + 20%);
}
h2{
	font-family: 'yanone_kaffeesatz-regular';
	font-size: calc(4vmax + 30%);
}
h3 {
	font-family: 'yanone_kaffeesatz-light';
	font-size: 2.1vmax;
}
#app{
	background-color: #F0F0FF;
	min-height: 100vh
}
.main-container{
	margin: 0 auto;
	max-width: 1200px;
	width:100%;
}
.header{
	width: 100%;
}
.header h1 {
	color: #4b83aa;
	padding: 20px;
	position: relative;
	text-align: center;
}
.main-actions{
	text-align: center;
}
.main-actions button,
.main-actions a{
	margin: 10px 30px;
}

