@media (max-width: 768px),(-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi){
	.header {
	    margin-bottom: 15px;
	}
	.modal-box{
	    top: 10vh;
	}
	.profile-selection{
		flex-wrap: wrap-reverse;
	}
	.profile-buttons,
	.profile-container{
		flex-basis: 100%;
	}
	.profile-buttons{
		padding: 20px 34px 30px;
	}
	.profile-button img {
		width: 8vw;
	}
	.profile{
		padding: 15px 20px;
	}
	.profile-description{
		font-size: 1em;
	}
	.skill-name{
		font-size: .9em;
	}
}
	
@media (max-width: 480px){
	h3 {
		font-size: 3vmax;
	}
	.profile{
		padding: 15px;
	}
	.profile-image,
	.profile-information{
		flex-basis: 100%;
	}
	.profile-information{
		padding: 0 5px;
	}
	.profile-image img{
		margin-bottom: 20px;
		max-height: 60vh;
		max-width: auto;
	}
	.profile-name{
		font-size: 5vmax;
	}
	.profile-description{
		padding-left: 5px;
	}
	.profile-navigation{
		position: fixed;
		top: 50vh;
	}
	.next-profile{
		right: 10px;
	}
	.prev-profile{
		left: -10px;
	}
	.action-btn{
		margin: 7px 3%;
		width: 60%;
	}
}

/* high resolution smartphones in landscape */
@media screen and (max-width:667px) and (orientation: landscape) {
	h3 {
		font-size: 3vmax;
	}
	.modal-box{
	    top: 5vh;
	}
	.profile-image img{
		max-height: 100%;
		margin-bottom: 20px;
	}
	.profile-navigation{
		position: fixed;
		top: 50vh;
	}
}