.profile-selection{
	display: flex;
}
.profile-buttons{
	flex-basis: 15%;
	padding: 30px 40px;
}
.profile-container{
	flex-basis: 85%;
	padding: 10px;
	position: relative;
}
.profile-navigation{
	position: absolute;
	top: 50%;
	width: 100%;
}
.next-profile{
	right: 25px;
	position: absolute;
}
.prev-profile{
	left: 5px;
	position: absolute;
}
.profile{
	padding: 30px 40px;
	display: flex;
	flex-wrap: wrap;
}
.profile-name{
	flex-basis: 100%;
	text-align: center;
}
.profile-name h2{
	padding: 10px 10px 20px

}
.profile-image,
.profile-information{
	flex-basis: 50%;
}
.profile-description{

}
.profile-skills > ul {
	display: flex;
	flex-wrap: wrap;
}
.profile-skills > ul > li{
	flex-basis: 50%;
}
.profile-skills h3{
	margin: 20px 0 5px;
}
.skill{

}
.stars-container{
	display: inline-block;
}
.stars-container,
.stars-mask{
	height:18px;
	width:97px;
}
	
@media (max-width: 768px),(-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi){
	.profile-selection{
		flex-wrap: wrap-reverse;
	}
	.profile-buttons,
	.profile-container{
		flex-basis: 100%;
	}
}