.profile-selection{
	display: flex;
}
.profile-buttons{
	flex-basis: 15%;
	min-width: 140px;
	padding: 1% 40px 30px 4%;
	text-align: left;
}
/* THIS IS HELL */
.profile-button-container{
	display: inline-block;
	height: 6vw;
	margin: 1px 2px;
	max-height: 80px;
	max-width: 80px;
	position: relative;
	width: 6vw;
}
.profile-button{
	background-color: transparent;
	border:none;
	cursor: pointer;
	height: 100%;
	left: 0;
	padding: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.profile-button-img{
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.profile-button-container:hover .profile-button{
	background-color: rgba(75, 131, 170, 0.6);
}

.profile-button-container:hover:nth-last-child(-n+4) .profile-button{
	background-color: rgba(237, 209, 30, 0.6);
}

/*-------------*/
.profile-container{
	flex-basis: 85%;
	padding: 0 10px;
	position: relative;
}
.profile-navigation{
	position: absolute;
	top: 14vh;
	width: 98%;
}
.next-profile,
.prev-profile{
	background-color: transparent;
	border: none;
	cursor: pointer;
}
.next-profile img,
.prev-profile img{
	height: 15vh
}
.next-profile{
	right: 25px;
	position: absolute;
}
.prev-profile{
	left: -40px;
	position: absolute;
}
.profile{
	display: flex;
	flex-wrap: wrap;
	padding: 10px 7% 10px 0;
	position: relative;
}
.profile-name{
	flex-basis: 100%;
	text-align: center;
}
.profile-name h2{
	padding: 10px 0;

}
.profile-image{
	flex-basis: 42%;
	padding: 18px 3.5% 0 5px;
}
.profile-information{
	flex-basis: 50%;
}
.profile-image{
	text-align: center;
}
.profile-image img{
	max-height: 42vh;
	min-height: 350px;
	max-width: 100%;
}
.profile-description{
	font-size: 1.1em;
	line-height: 1.4em;
}
.profile-skills{
	padding: 5px 3.5% 0;
}
.profile-skills > ul {
	display: flex;
	flex-wrap: wrap;
}
.profile-skills > ul > li{
	flex-basis: 50%;
}
.profile-skills h3{
	margin: 15px 0 10px;
	text-decoration: underline;
}
.skill{

}
.stars-container{
	display: inline-block;
}
.stars-container,
.stars-mask{
	height:21px;
	width:99px;
}